html {
  height: 100%;
  width: 100%;
  background-image: radial-gradient(#DBCAC0 10%, #DCAE96);
  color: #47484A;
  text-shadow: 1px 1px 5px #175857;
  background-attachment: fixed;
}

h1 {
  margin-top: 0;
  top: 0;
  width: fit-content;
  border-radius: 10px;
  border: 2px solid #47484A;
  background-image: radial-gradient(#DBCAC0, #DCAE96);
}

a {
  color:lightblue;
  cursor: pointer;
}
p {
  font-size:x-large;
}

#navigation {
  position: fixed;
  width: calc(fit-content + 5px);
  height: calc(fit-content + 5px);
  bottom: 0;
  left: 0;
  border-radius: 0px, 10px, 0px, 0px;
  border: 2px solid #47484A;
  background-image: radial-gradient(#DBCAC0, #DCAE96);
  transition-duration: .5s;
  display: inline-block;
  text-align:right;
}

button:hover {
  cursor: pointer;
}

img {
  border-radius: 20px;
  border: 2px solid #47484A;
  box-shadow: 1px 1px 10px #47484A;
  display: inline-grid;
  filter: blur(6px);
  transition-duration: .5s;
  width: 25%;
}

#Nehru {
  grid-column: 1;
  grid-row: 1;
}
#Jinnah {
  grid-column: 2;
  grid-row: 1;
}
#Mountbatten {
  grid-column: 3;
  grid-row: 1;
}
#Hindu {
  grid-column: 1;
  grid-row: 2;
}
#Islam {
  grid-column: 2;
  grid-row: 2;
}

#imgHolder {
  border: 10px, solid, black;
  display:grid;
  row-gap: 10vh;
}